.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 4;
}

.popup::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 20%);
  z-index: 2;
}

.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.popup__close {
  display: flex;
  justify-content: flex-end;
  padding: 14px 0;
  z-index: 99;
}

.popop__btn-close {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 99;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 50%; */
  padding: 20px;
  background: #fff;
  border-radius: 5px 0 5px 0;
  z-index: 99;
}

.popup__inner {
  display: flex;
  padding: 4px 0;
  align-items: center;
}

.popup__content-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup__title {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
}

.popup__content-input {
  padding: 30px;
}

.popup__input {
  cursor: pointer;
  padding: 10px 7px;
  margin: 3px 0;
  outline: none;
  color: #3e3e3e;
  border: none;
  border-bottom: 2px solid orange;
}

.popup__checkbox {
  margin-right: 10px;
}

.popup__btn {
  margin: 10px auto;
  width: 120px;
  padding: 10px 7px;
  border-radius: 5px 0 5px 0;
  border: 2px solid orange;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* 
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 9999;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup {
  padding: 60px 70px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 690px;
  height: 440px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  font-size: 30px;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: 2px solid #fff;
}

.popup--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.popup--content-agree {
  font-size: 30px;
  text-align: center;
}

.popup--title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 900;
  text-transform: uppercase;
}

.popup--input {
  width: 413px;
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}

.popup--input:focus {
  border-bottom: 2px solid #FF7730;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.popup--input::-webkit-input-placeholder {
  font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 20;
  font-weight: 300;
}

.popup--input::-moz-placeholder {
  font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 20;
  font-weight: 300;
}

.popup--input:-ms-input-placeholder {
  font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 20;
  font-weight: 300;
}

.popup--input::-ms-input-placeholder {
  font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 20;
  font-weight: 300;
}

.popup--input::placeholder {
  font-family: Museo Sans Cyrl, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 20;
  font-weight: 300;
}

.popup--btn {
  width: 245px;
  height: 43px;
} */