.lds-dual-ring {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.preloader-active {
  display: inline-block;
}

.lds-dual-ring::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.lds-dual-ring:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: orange transparent orange transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  z-index: 200;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}