@import url(../css/fonts.css);


**,
**::before,
**::after {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
	font-family: 'Roboto', 'Arial', sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #202328;
}

li {
	list-style: none;
}

.container {
	width: 540px;
	margin: 0 auto;
}

.authorization {
	margin: 20px 0;
	display: flex;
	justify-content: flex-end;
}


.btn__log,
.btn__reg,
.btn__out {
	margin: 0 12px;
	min-width: 100px;
	min-height: 35px;
	border-radius: 5px 0 5px 0;
	border: 2px solid transparent;
	background: #fc9b3f;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px;
	cursor: pointer;
}

.login__registation {
	margin: 0 10px;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
	/* width: 200px; */
}

.account__user {
	color: #fff;
	max-width: 150px;
	text-overflow: ellipsis;
}

.account__img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 50%;
}

.account__menu {
	position: relative;
	top: 0;
	right: 0;
}

.account__menu::before {
	content: '';
	position: relative;
	top: 0;
	left: 0;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	cursor: pointer;
}

.account-menu__list {
	display: none;
	opacity: 0;
	box-sizing: border-box;
	position: absolute;
	top: 30px;
	right: 0;
	background: #fff;
	width: 140px;
	height: 90px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

.account-menu__item {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 7px 12px;
	cursor: pointer;

}

.account-menu__item:hover {
	background: #e3e3e3;
}

.account-menu__link {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}

.active-menu {
	display: flex;
	opacity: 1;
}

/* Todo */
.todo {
	position: relative;
}

.todo__title {
	color: #fff;
	text-align: center;
	font-size: 2rem;
	font-weight: 900;
}

.todo__counter {
	display: flex;
	justify-content: space-between;
	font-size: 1.3rem;
	padding: 0 2px;
	margin: 20px 0;
}

.counter__title {
	color: #59a4e4;
}

.counter__value {
	color: orange;
}

.todo__form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 25px;
}

.form__input {
	padding: 10px 15px;
	width: 20rem;
	font-size: 20px;
	border: none;
	border-radius: 5px 0 5px 0;
	background: #fff;
	outline: none;
}

.form__input::placeholder {
	color: #3e3e3e;
}

.form__btn {
	width: 120px;
	position: relative;
	padding: 10px 15px;
	text-align: center;
	font-size: 20px;
	color: #fc9b3f;
	border: 2px solid #fc9b3f;
	border-radius: 5px 0 5px 0;
	background: transparent;
	cursor: pointer;
}

.form__btn:hover {
	background: #fc9b3f;
	color: #202328;
	transition: all 0.3s ease-out;
}

.form__btn:active {
	opacity: 0.7;
	transition: none;
}

.todo__list {
	margin: 0;
	padding: 0;
}

.list__item {
	position: relative;
	list-style: none;
	padding: 15px;
	background: #fff;
	border-radius: 5px 0 5px 0;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: normal;
}

.list__item {
	list-style-type: none;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list__item {
	background-color: #fafafa;
	padding: 10px 15px;
	position: relative;
	overflow: hidden;
}

.list__item:not(:last-child) {
	margin-bottom: 0.5rem;
}

.setting-action {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

/*  */
.item__label {
	width: 40%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.editInput {
	display: none;
}


.item__action {
	display: flex;
	justify-content: space-between;
	width: 100px;
	height: 26px;
}

.item_action_btn {
	width: 26px;
	height: 26px;
	padding: 2px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
}

.item-action__delete {
	position: relative;
	background: #ff000040;
}

.item-action__edit {
	position: relative;
	background: skyblue;
}

.item-action__complete {
	position: relative;
	background: #00800040;
}

.item_action_btn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 70%;
	transform: translate(-50%, -50%)
}

.item-action__delete::before {
	background: url('../img/trash-svgrepo-com.svg') no-repeat center / cover;
}

.item-action__edit:before {
	background: url("../img/setting-svgrepo-com.svg") no-repeat top / cover;
}

.item-action__complete::before {
	background: url('../img/checkmark-svgrepo-com.svg') no-repeat center / cover;
}

.list__item_completed {
	text-decoration: line-through;
	opacity: 0.7;
}

.item__date {
	font-size: 12px;
	color: #707070
}

.editMode {
	pointer-events: all;
}


/* Media */
@media screen and (max-width: 575px) {
	.container {
		box-sizing: border-box;
		width: 100%;
		padding: 0 15px;
	}

	.todo__title {
		font-size: 2rem;
	}

	.todo__counter {
		flex-flow: column;
	}

	.list__item {
		max-width: 93%
	}

	.todo__form {
		justify-content: flex-end;
	}

	.form__input {
		width: 93%;
		margin-bottom: 20px;
	}

	.form__btn {
		width: 100%;
		font-size: 1.5rem;
	}
}